<div class="bg-white mt-5 shadow-sm max-w-xs md:max-w-sm lg:max-w-xl mx-auto rounded-xl mb-5">
    <h1 class="text-center pt-5 font-semibold">Add Post</h1>

    <div class="items-center grid space-y-3 justify-center lg:flex lg:space-x-2 pb-10 pt-5 lg:items-center lg:space-y-0">
        <div class="flex space-x-3">
            <input type="text" placeholder="Description" [(ngModel)]="model.description" class="py-2 px-5 rounded-xl outline-1 outline-blue-500" />
        </div>

        <div class="flex space-x-3">
            <input type="text" placeholder="PostImage" [(ngModel)]="model.postImage" class="py-2 px-5 rounded-xl outline-1 outline-blue-500" />
        </div>
        <button (click)="OnSubmit()" class="bg-green-500 text-white font-semibold p-3 px-8 rounded-lg hover:bg-green-800">
      Post
    </button>
    </div>
</div>