<div class="my-10">
    <div *ngFor="let user of AllProfiles | async">
        <div class="bg-white max-w-6xl mx-auto justify-center items-center p-10 rounded-md shadow-md">
            <div class="flex justify-between">
                <div class="flex items-center space-x-5">
                    <img src="{{ user.userImage }}" alt="" class="w-20 h-20 rounded-full" />
                    <div class="flex-col">
                        <h1>{{ user.username }}</h1>
                        <h1>{{ user.email }}</h1>
                    </div>
                </div>
                <div>
                    <button class="p-2 bg-green-500 hover:bg-green-800 text-white font-semibold rounded-full">
            Follow
          </button>
                </div>
            </div>
        </div>
    </div>
</div>